body {
	height: 100vh;
	min-width: 320px !important;
	/*background-image: url("../images/books.svg?v3");*/
	background-image: url("../images/fondov2.jpg?v=1");
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-position: inherit;
	margin: 0;
	font-family: "Roboto", sans-serif;
	background-attachment: fixed;
}
.login-text {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	color: #ffffff;
	position: fixed;
	top: 130px;
	left: 56px;
}
.login-form {
	display: flex;
	justify-content: end;
	margin-right: 144px;
}
.login-form__logo {
	margin-top: 47px;
	margin-bottom: 30px;
	text-align: center;
	position: relative;
}
.login-form__content {
	width: 302px;
}
.login-form__title {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #3d3c3c;
	padding: 0;
	margin: 0 0 14px 0;
	font-family: "Roboto", sans-serif;
}
.login-form__subtitle {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 32px;
	color: #3d3c3c;
}
.login-form__recover-password {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.login-form__recover-password-link {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #4173ff;
	cursor: pointer;
	width: fit-content;
	margin: 0;
	padding: 0;
}
.login-form__input-content-email {
	display: flex;
	margin-bottom: 26px !important;
}
.login-form__input-content-password {
	display: flex;
}
.login-form__input {
	width: 100% !important;
	box-sizing: border-box !important;
	height: 48px !important;
	padding: 14px !important;
	margin: 0 !important;
	box-shadow: none !important;
	border: 1px solid #b6b6b6 !important;
	border-radius: 8px !important;
	outline: none;
}
.login-form__input:focus {
	border: 1px solid #4173ff !important;
	caret-color: #4173ff;
}
.login-form__input-icon {
	position: absolute;
	width: 24px;
	height: 24px;
	margin: 12px 16px 12px 261px;
	cursor: pointer;
}
.login-form__input--error {
	border: 1px solid #ef0000 !important;
}
.login-form__input--error:focus {
	border: 1px solid #ef0000 !important;
	caret-color: #ef0000;
}
.login-form__input-icon-email--error > svg > path {
	fill: #ef0000 !important;
	stroke: #ef0000 !important;
}
.login-form__input-icon-password--error > svg > path {
	fill: #ef0000 !important;
}
.login-form__copyright {
	display: flex;
	justify-content: center;
}
.login-form__copyright-text {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #b6b6b6;
	padding: 0;
	margin: 10px 0;
	position: absolute;
	bottom: 0;
	font-family: "Roboto", sans-serif;
}
.login-form__error {
	text-align: center;
	position: inherit;
	/* display: flex; */
	justify-content: center;
	width: inherit;
	margin: 0;
	margin-top: 15px;
	height: 60px;
}
.login-form__message-error {
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #ef0000 !important;
	/* display: flex; */
	align-items: center;
	cursor: default;
}
.login-form__message-error > p {
	margin: 0;
	margin-left: 8px;
}

#btnSiguiente,
#btnLogin {
	font-family: "Roboto", sans-serif;
	width: 100%;
	width: 301px;
	height: 48px;
	font-weight: 400;
	display: block;
	margin-top: 10px;
	color: white;
	position: relative;
	border: 1px solid rgba(60, 141, 188, 1);
	background: #4173ff;
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	border-radius: 8px !important;
	cursor: pointer;
	outline:none;
	font-size:20px;
}
.login-form__button--disabled {
	background: #b6b6b6 !important;
	border: 1px solid #b6b6b6 !important;
}
#btnSiguiente:hover,
#btnSiguiente:active,
#btnSiguiente:focus,
#btnLogin:hover,
#btnLogin:active,
#btnLogin:focus {
	background: rgba(65, 114, 255, 1);
}
#btnVolver{
	font-family: "Roboto", sans-serif;
	width: 100%;
	width: 301px;
	height: 48px;
	font-weight: 400;
	display: block;
	margin-top: 10px;
	color: white;
	position: relative;
	border: 1px solid rgba(60, 141, 188, 1);
	background: #4173ff;
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	border-radius: 8px !important;
	cursor: pointer;
	outline:none;
	background: #fff;
	border: 1px solid #4173ff !important;
	caret-color: #4173ff;
	color: #4173FF;
	font-size:20px;
}
#btnVolver:hover,
#btnVolver:active,
#btnVolver:focus{
	color: #4173FF;
	font-weight:700;
}

.inputBasic {
	margin-bottom: 10px;
}

@media (max-width: 1300px) {
	body {
		
		/*background-image: url("../images/books_tablet.svg?v3");*/
		/*background-image: url("../images/fondov2_tablet.jpg?v=1");*/
	}
}
	body.body-style3 {
		background-image: none;
	}
	.body-style3 .login-text {
		display: none;
	}
	.body-style3 .login-form {
		justify-content: center;
		margin: 0;
	}
@media (max-width: 1320px) {
	body {
		background-image: none;
	}
	.login-text {
		display: none;
	}
	.login-form {
		justify-content: center;
		margin: 0;
	}
}
@media (max-height: 640px) {
	.login-form__copyright-text {
		position: relative;
		bottom: 0;
		margin: 22px 0;
	}
}

.zabdiel-textfield {
position: relative !important;  
}
.zabdiel-textfield label {
position: absolute !important;
font-size: 1rem;
left: 0;
top: 50%;
transform: translateY(-50%) !important;
background-color: white;
color: gray;
padding: 0 0.3rem !important;
margin: 0 0.5rem !important;
transition: .1s ease-out !important;
transform-origin: left top !important;
pointer-events: none;
}
.zabdiel-textfield input {
font-size: 1rem;
outline: none;
border: 1px solid gray;
border-radius: 5px;  
padding: 1rem 0.7rem !important;
color: gray;
transition: 0.1s ease-out !important;
}
.zabdiel-textfield input:focus, .zabdiel-textfield input.run{
border-color: #6200EE;  
}
.zabdiel-textfield input:focus + label, input.run + label{
top: 0 !important;
transform: translateY(-50%) scale(.9) !important;
color:#4173FF;
font-weight:700;
font-family:Roboto;
left:7px;
font-size: 17px;
}
#btnLogin.run{
display: inline-block;
text-transform: uppercase;
letter-spacing: 0.15rem;
transition: all 0.3s;
position: relative;
overflow: hidden;
}
#btnLogin.run:after{
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -2;
}
#btnLogin.run:before{
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0%;
height: 100%;
background-color: #00AEEF;
transition: all 0.3s;
z-index: -1;
border: 1px solid #00EBD1;
}
#btnLogin.run:hover{
color: #fff;
z-index:1;
}
#btnLogin.run:hover:before{
width: 100%;
}
#btnVolver.off,
#btnSiguiente.off,
#btnLogin.off{
background:#B6B6B6;
border:1px solid #B6B6B6;
cursor:inherit !important;
}
label.login-form__label--error{
color:#F00 !important
}
body {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; 
}
#btnLogin{
margin-top:0;
top:10px;
}
/*****************************************************************/
.modal-login {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.contenido-modal-login {
  position: relative;
  background-color: white;
  margin: auto;
  width: 33%;
  -webkit-animation-name: anima-login;
  -webkit-animation-duration: 0.5s;
  animation-name: anima-login;
  animation-duration: 0.5s;
  border-radius: 11px;
  cursor:pointer;
}
.contenido-modal-login img{
  width: 100%;
}

@keyframes anima-login {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media only screen and (max-width: 1200px) {
  .contenido-modal-login {
	  width: 98%;
	  border-radius: 0px;
	}
}
.login-form__subtitle1 {
	font-style: normal;
	font-weight: 100;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 32px;
	color: #3d3c3c;
	margin-top:14px;
	margin-bottom:14px;
}
.login-form__subtitle2 {
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 32px;
	color: #3d3c3c;
	margin-top:14px;
	margin-bottom:14px;
}
/*****************************************************************/
